<%- partial('_partial/archive', {pagination: 2, index: true}) %>

<aside>
  <h2>Archives</h2>
  <%- list_archives({show_count: true, type: "monthly"}) %>
  <h2></h2>
  <% if (site.categories.length){ %>
  <h2>Categories</h2>
  <%- list_categories({show_count: true}) %>
  <% } %>
  <% if (site.tags.length){ %>
  <h2>Tags</h2>
  <%- list_tags({show_count: theme.show_count}) %>
  <%- tagcloud() %>
  <% } %>
</aside>